.blogPostList {
  display: grid;
  gap: 20px;
  padding: 10px;
  grid-template-columns: 1fr;
}

.empty {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #666666;
  padding: 10px;
}

@media (min-width: 769px) and (max-width: 1199px) {
  .blogPostList {
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}

@media (min-width: 1200px) {
  .blogPostList {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}